<h1> POSTS PAGE </h1>

<div class="post_container">
<!-- interests -->
		<h2>All Posts</h2>
		<div>
			<a id="addAPost" href="/api/posts/new" class= "btn btn-primary">Add a Post</a>
		</div>
		
	<div class="multiple_posts">

		{{#each posts}}
			  <a href="/api/posts/{{id}}">
			<div class="single_post">
	  			<div>Interests: {{this.interests}}</div>
	  			<div>Email: {{this.email}}</div>
	  			<div class="description_content">Description: {{this.description}}</div>
		  		<!-- 	<img class="cityImg" src="{{this.photoUrl}}"> -->
			</div>
			 	</a>
	{{/each}}

	</div>
</div>


	  