<h1 class="margin-top"> POSTS SHOW </h1>
<div id="post_page"></div>

<script id="post-template" type="text/x-handlbars-template">

		<div id="\{{post._id}}" class="profile">
			<p> Name: <span id="postName"> \{{post.name}}</span> </p>
    		<p> Email: <span id="postEmail"> \{{post.email}}</span> </p>
			<p> Description: <span id="postDescription">\{{post.description}}</span></p>
			<p> Start Date: <span id="postStart"> \{{post.startDate}}</span> </p>
			<p> End Date: <span id="postEnd"> \{{post.endDate}}</span> </p>

			<img src="\{{post.photoUrl}}"alt="image" id="postPhotoUrl">

      <button class="btn btn-primary" id="toggleEditBtn" >Edit</button>

			<button class= "btn btn-primary" onclick="post.deletePost(event)">Delete</button>
    </div>
</script>

 <script type="text/javascript">
 		console.log('post ', post);
  	post.renderPost({{{postJS}}});
 </script>

<form class="margin-top" id="editForm">
	<input type="text" name="editDestinationId" hidden=true value={{destination._id}} id="editDestinationId">

	<input type="text" hidden=true value={{post.id}} id="postID">
	
	<div class = "row">
			<label for="name">Name:</label><br />
			<input id="name" type="text" name="name" value="{{post.name}}">
	</div>

	<div class = "row">
		<label for="email">Email:</label><br />
		<input type="text" id="email" name="email" value="{{post.email}}">
	</div>

	<div class="row">
		<label for="description">Description:</label><br />
		<textarea type="text" id="description" class="input" name="description" rows="3" cols="30">{{post.description}}</textarea> <br />
	</div>

	<div class = "row">
		<label for="startDate">Start Date:</label><br />
		<input type="date" id="startDate" name="startDate" value="{{post.startDate}}">
	</div>

	<div class = "row">
		<label for="endDate">End Date:</label><br />
		<input type="date" id="endDate" name="endDate" value="{{post.endDate}}">
	</div>

	<button class="btn btn-primary" onclick="post.editPost(event)" type="submit" id="updateBtn">Update Post</button>

</form>




