

<h1> POSTS PAGE </h1>

<div class="post_container">
<!-- interests -->
		<h2>All Posts</h2>
	<div class="multiple_posts">
	  {{#each posts}}
			<!-- Destination name & user name -->
				<h2>"{{this.user._id}} {{this.destination._id"}}</h2>
	      <div class="single_post">
	          <img src="{{this.photoUrl}}" alt="profile photo" class="profile_photo">
	   
	          <div id="name-artist">
	            <p class="post_description">{{this.description}}</p>
	            <p class="post_interests">{{this.interests}}</p>
	          </div>
	      </div>
	  {{/each}}
	</div>
</div>
