 <div id="profile-page"></div>



 <script id="user-template" type="text/x-handlbars-template">

	<h1> \{{user.firstName}} </h1>

		<div id="\{{user._id}}" class="profile">
			<img src="\{{user.photoUrl}}" alt="profile pic" id="profile_image">
    		<p>Name: \{{user.firstName}} \{{user.lastName}}</p>
			<p>Email: \{{user.email}}</p>

			<a href="#" class="btn btn-default"> Edit </a>
			<button class= "btn delete-btn" onclick="user.deleteUser(event)">Delete</button>
		</div>

</script> 

<script type="text/javascript">
	user.renderUser({{{user}}});
</script>