 <div id="profile_page"></div>


 <script id="user-template" type="text/x-handlbars-template">

	<h1><span id="headerFirstName">\{{user.firstName}}</span> </h1>

		<div id="\{{user._id}}" class="profile">
			<img src="\{{user.photoUrl}}"alt="profile pic" id="profile_image">
    		<p>Name: <span id="displayFirstName"> \{{user.firstName}} </span> <span id="displayLastName">\{{user.lastName}}</span></p>
			  <p> Email: <span id="displayEmail"> \{{user.email}}</span> </p>

      <button class="btn btn-primary" id="modalEditUser"  data-toggle="modal" data-target="#triggerEditModal">Edit</button>
			<button class= "btn btn-primary delete-btn" onclick="user.deleteUser(event)">Delete</button>
		</div>

</script> 

<script type="text/javascript">
  user.renderUser({{{userJS}}});
</script>


<!-- begin userModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="triggerEditModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Profile</h4>
          </div>
          <div class="modal-body">
          <fieldset class='form-horizontal'>

            <form id="savedUser">
              <!-- Text input-->
              <input type="text" hidden=true value={{user.id}} id="userID">
              <div class="form-group">
                <label class="col-md-4 control-label" for="firstName">First Name</label>
                <div class="col-md-4">
                <span class="noedit">{{firstName}}</span>
                <input id="firstName" name="firstName" type="text" value="{{user.firstName}}" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="lastName">Last Name</label>
                <div class="col-md-4">
                <input id="lastName" name="lastName" type="text" value="{{user.lastName}}" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="passwordDigest">Password</label>
                <div class="col-md-4">
                <input id="passwordDigest" name="passwordDigest" type="password" value="{{user.passwordDigest}}" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="password">Confirmation password</label>
                <div class="col-md-4">
                <input id="password" name="password" type="password" value="{{user.passwordDigest}}" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                <input id="editEmail" name="email" type="email" value="{{user.email}}" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="photoUrl">Photo</label>
                <div class="col-md-4">
                <input type="hidden" name="photoUrl" role="uploadcare-uploader" value="{{user.photoUrl}}"/>
                <input id="photoUrl" name="photoUrl" type="file" value="{{user.photoUrl}}" class="btn btn-default btn-file">
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" action="/">Close</button>
                <button type="submit" class="btn btn-primary" onclick="user.editUser(event)" data-dismiss="modal">Save</button>
              </div>
            </form>

          </fieldset>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->